/* .wrap {text-align: center; margin-bottom: 20px;} */
.bounce-effect{
    animation: motion 0.5s linear 0s infinite alternate;
    margin-top: 0;
}
  @keyframes motion {
        0% {
        margin-bottom: 0px;
        }
        100% {
        margin-bottom: 10px;
        }
    }