.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  width:100%;
  height:100%;
}
input{
  scroll-margin-top: 20rem;
}
span{
  display:inline-block !important;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

  
}

@font-face {
  font-family: 'Thin';
  /* src: url('./assets/font/NotoSansKR-Thin.otf');
   */
  src:url('./assets/font/NotoSansKR-Thin.otf'),
      url('./assets/font/NotoSansKR-Thin.otf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Light';
  src:url('./assets/font/NotoSansKR-Light.otf'),
      url('./assets/font/NotoSansKR-Light.otf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'DemiLight';
  src: url('./assets/font/NotoSansKR-DemiLight.otf');
}

@font-face {
  font-family: 'Regular';
  src:url('./assets/font/NotoSansKR-Regular.otf'),
      url('./assets/font/NotoSansKR-Regular.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Medium';
  src:url('./assets/font/NotoSansKR-Medium.otf'),
      url('./assets/font/NotoSansKR-Medium.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'SemiBold';
  src:url('./assets/font/NotoSansKR-Regular.otf'),
      url('./assets/font/NotoSansKR-Regular.otf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Bold';
  src:url('./assets/font/NotoSansKR-Bold.otf'),
      url('./assets/font/NotoSansKR-Bold.otf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family : 'MonoRegular';
  src : url('./assets/font/NotoSansMonoCJKkr-Regular.otf');
}


@font-face {
  font-family : 'MonoBold';
  src : url('./assets/font/NotoSansMonoCJKkr-Bold.otf');
}

